* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f5f6f0;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Noto Sans TC", sans-serif;
}
p span {
  color: #ec2798;
  font-weight: 600;
}

P::first-letter {
  font-size: 2rem;
}

.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__next > label:nth-child(1), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5) {
  opacity: 1 !important;
  z-index: 3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  margin: 1rem auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.carousel > input[type=radio]:checked ~ .carousel__prev > label,
.carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 30rem;
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel__item img {
  width: 100%;
  vertical-align: middle;
}
.carousel__prev > label, .carousel__next > label {
  border: 1px solid #ec2798;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: 0.5 !important;
}
.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel__prev > label:before, .carousel__next > label:before {
  background: linear-gradient(to top, #ec2798 0%, #ec2798 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #ec2798 0%, #ec2798 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel__prev > label {
  left: 1%;
}
.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel__next > label {
  right: 1%;
}
.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel__nav {
  position: absolute;
  bottom: 1%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.carousel__nav > label {
  border: 1px solid #ec2798;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 1rem;
  height: 1rem;
}

.full_pic img {
  width: 100%;
}

.phone_mode {
  display: none;
}

.grid {
  background: url("/projects/tea/images/tea_BG_01.jpg");
}

.re {
  flex-direction: row-reverse;
}

.top_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_area img {
  max-width: 100%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}
.description .card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 1rem auto;
  padding: 0 1rem;
  align-items: center;
}
.description .card img {
  max-width: 85%;
}
.description .card .tea_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}
.description .card .tea_icon img {
  padding: 0 0.5rem;
  max-width: 85%;
}
.description .card_pic {
  display: flex;
  justify-content: center;
}
.description .card_pic img {
  max-width: 85%;
}
.description .slider_img img {
  max-width: 100%;
}

.only_pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.only_pic .title {
  width: 30rem;
  padding: 1rem;
}
.only_pic .web_mode {
  max-width: 80%;
}

.tea_block {
  display: none;
}

.tea_block.active {
  display: flex;
}

.btn_area {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #436d51;
  border-radius: 30px;
  box-shadow: #436d51 4px 4px 0 0;
  color: #436d51;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.2rem 0.2rem;
  transition: all 0.2s;
}

.button-74:hover {
  background-color: #fff;
  box-shadow: 0.4rem 0.4rem 0 #436d51;
  transform: translate(-0.4rem, -0.4rem);
}

.button-74:active,
.button-74.active {
  background-color: #ec2798;
  box-shadow: #436d51 2px 2px 0 0;
  border: 2px solid #fbeee0;
  color: #fbeee0;
  transform: translate(2px, 2px);
}

.shopfloat {
  position: fixed;
  top: 35rem;
  right: -1rem;
  z-index: 99;
}
.shopfloat .shopbt {
  width: 5rem;
  height: 5rem;
  padding: 4px;
  margin-bottom: 8px;
  display: block;
  background: #436d51;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  color: #fff;
  border-radius: 6px 0 0 6px;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.3s ease-in-out;
}
.shopfloat .shopbt:hover {
  transform: translateX(-1rem);
  background-color: #ec2798;
}
.shopfloat .shopbt:active {
  color: #ec2798;
}
.shopfloat .shopbt .onlineIcon {
  width: 75%;
  margin: 4px auto;
  height: 0;
  padding-bottom: 55%;
  background: url(../images/cart.svg) no-repeat;
  background-size: contain;
}
.shopfloat .shopbt .bagIcon {
  width: 54%;
  margin: 4px auto;
  height: 0;
  padding-bottom: 54%;
  background: url(../images/shopping-bag.svg) no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .description {
    flex-wrap: wrap;
  }
  .container {
    width: 25rem;
  }
  .container .carousel__items {
    height: 16rem;
  }
  .title {
    max-width: 80%;
  }
  .web_mode {
    display: none;
  }
  .phone_mode {
    display: flex;
    max-width: 110%;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}/*# sourceMappingURL=colego.css.map */