@charset "UTF-8";
:root {
  --color-main:#ffbe3b;
  --color-dark:#0B1E1E;
  --color-light:#F9F3EF;
  --color-accent:#2a779e;
  --color-gray:#858585;
  --c: #1095c1; /* the color */
  --s: 0.1em;
  --border-weight: 2px;
  --border-radius: 0.5rem;
  --text-autospace:normal;
  --typewriterSpeed: 4s;
  --typewriterChracters: 17;
}

/*導覽列*/
header {
  background: #ffffff;
  color: #30281d;
  padding: 1rem 0;
  position: relative;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}
header .container {
  width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
header .container a {
  text-decoration: none;
}
header .container a .logo {
  float: left;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  transition: all ease-in-out 0.3s;
}
header .container a .logo span {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
}
header .container a .logo:hover {
  color: var(--color-main);
  text-shadow: 2px 2px var(--color-dark);
}
header .container .back-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.1rem 36px;
  border-color: transparent;
  background-color: inherit;
  font-weight: 300;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
header .container .back-btn svg {
  position: absolute;
  width: 1rem;
  fill: var(--color-gray);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transform: rotate(180deg);
}
header .container .back-btn .arr-1 {
  right: -25%;
}
header .container .back-btn .arr-2 {
  left: 16px;
}
header .container .back-btn .text {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  color: var(--color-dark);
  transform: translateX(12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
header .container .back-btn .text::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  display: flex;
  border-radius: 50px;
  width: 0.7rem;
  height: 0.7rem;
  transition: all 0.3s ease;
  z-index: -1;
}
header .container .back-btn:hover {
  border-radius: 12px;
}
header .container .back-btn:hover .arr-1 {
  right: 16px;
}
header .container .back-btn:hover .arr-2 {
  left: -25%;
}
header .container .back-btn:hover .text {
  transform: translateX(-12px);
}
header .container .back-btn:hover .text::before {
  width: 100%;
  background: var(--color-main);
}
header .container .site-nav {
  position: absolute;
  right: 0;
}
header .container .site-nav ul {
  margin: 0;
  display: flex;
  list-style: none;
}
header .container .site-nav ul li a {
  display: flex;
  position: relative;
  color: var(--color-gray);
  padding: 1em 0.5em;
  margin: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: normal;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}
header .container .site-nav ul li a::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  display: flex;
  border-radius: 50px;
  width: 0.7rem;
  height: 0.7rem;
  transition: all 0.3s ease;
  z-index: -1;
}
header .container .site-nav ul li a:hover::before {
  width: 100%;
  background: var(--color-main);
}
header .container .site-nav ul li a:hover {
  letter-spacing: 0.05em;
  color: var(--color-dark);
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.hide {
  transform: translateY(-100%); /* 往上移出畫面 */
}

.scroll-top {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-dark);
  font-weight: 600;
  transform: translateX(200%) scale(0);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
.scroll-top .svg-icon {
  width: 12px;
  transition-duration: 0.3s;
}
.scroll-top .svg-icon path {
  fill: white;
}

.scroll-top:hover {
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: var(--color-main);
  box-shadow: 0px 0px 0px 6px rgba(255, 199, 135, 0.476);
  align-items: center;
}

.scroll-top:hover .svg-icon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-250%);
}

.scroll-top::before {
  position: absolute;
  bottom: -20px;
  content: "Top";
  color: var(--color-dark);
  /* transition-duration: .3s; */
  font-size: 0px;
}

.scroll-top:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.show {
  display: flex; /* 顯示 */
  opacity: 1;
  transform: translateX(10%) scale(1);
}

footer {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer .copyright {
  display: flex;
  font-weight: 100;
  font-family: "PT Sans", sans-serif;
  font-size: 0.8rem;
}
footer .contacts {
  display: flex;
  font-size: 0.8rem;
}
footer .contacts p {
  font-weight: 100;
}

@media screen and (max-width: 790px) {
  header {
    padding: 1rem;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .logo {
    float: left;
    font-size: 1rem;
    margin: 0;
  }
  header .container .site-nav {
    top: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--color-light);
    transition: all ease-out 0.3s;
    height: 0px;
    overflow: hidden;
    z-index: 99;
  }
  header .container .site-nav ul {
    width: 100%;
    display: inline-block;
    padding-top: 5rem;
  }
  header .container .site-nav ul li a {
    width: 50%;
    color: #858585;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    display: block;
    text-transform: uppercase;
    transition: all ease-in 150ms;
    font-size: 1.5rem;
    font-weight: 300;
  }
  header .container .site-nav ul li a:hover,
  header .container .site-nav ul li a:focus {
    transition: all ease-out 0.3s;
  }
  header .container .site-nav ul li:last-child {
    border-bottom: none;
  }
  header .container .line::before {
    transform: translateY(-6px);
  }
  header .container .line::after {
    transform: translateY(3px);
  }
  header .container .line.trans {
    transform: rotate(45deg);
  }
  header .container .line.trans::before {
    opacity: 0;
  }
  header .container .line.trans::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  header .container .site-nav.open {
    height: 100vh;
  }
  header .container .landing {
    flex-direction: column;
  }
  header .container .menu {
    padding: 1em;
    position: relative;
    cursor: pointer;
  }
  header .container .menu .line,
  header .container .menu .line::before,
  header .container .menu .line::after {
    content: "";
    display: block;
    background: #858585;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 200ms;
  }
  header::after {
    content: "";
    clear: both;
    display: block;
  }
}/*# sourceMappingURL=components.css.map */