@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-main: #ffbe3b;
  --color-dark: #0b1e1e;
  --color-light: #f9f3ef;
  --color-accent: #2a779e;
  --color-gray: #858585;
  --color-gray_C: #85858560;

  --white: #fff;
  --black: #262626;
  --gsap_beige: #fffce1;
  --base-width: 50px;

  --border-weight: 2px;
  --border-radius: 0.5rem;

  --text-autospace: normal;
  --typewriterSpeed: 4s;
  --typewriterChracters: 18;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Kaisei Decol", serif;
  // font-family: "Roboto Mono", monospace;
  font-family: "Noto Sans TC", sans-serif;

  P {
    // text-align: justify;
    // font-weight: 400;
    color: var(--color-dark);
  }

  ::selection {
    background: var(--color-main);
    color: var(--color-accent);
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;

  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.1s infinite;
  opacity: 0.9;
  transition: background-color 0.75s ease, color 0.75s ease;
}
main {
  flex: 1;
  position: relative;
  padding-bottom: var(--footer-gap);
  transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

section {
  animation: transitionIn 0.75s;
}

.bg-active {
  background-color: #f3ede9;
  // background-color: var(--main-color);
}

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

.stroke {
  @include stroke-width(2px);
  @include stroke-color(var(--color-main));
  // color: transparent;
  border-radius: 10px;
}

.re {
  flex-direction: row-reverse;
}

// 首頁

.index {
  // max-height: 900px;
  // background: black;
  display: flex;
  // flex: 1;
  height: auto;

  .half-bg {
    position: relative;
    top: -60rem;
    background-color: rgb(213, 213, 213);
    width: 40vw;
    height: 100%;
    z-index: -10;
    transition: all 0.5s ease-out;
  }

  .container {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: center;

    align-items: center;

    .card-sticky {
      display: flex;
      justify-content: center;
      position: sticky;
      align-self: start;
      top: 15rem;
      width: 25rem;
    }

    .resumeCard {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #f3ede9;
      align-items: space-evenly;
      justify-content: center;
      width: 23rem;
      height: 30em;
      text-align: center;

      border: 2px solid var(--color-dark);
      border-radius: var(--border-radius);

      h2 {
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 100;
      }

      .head-pic {
        overflow: hidden;
        width: 15rem;
        height: 15rem;
        margin: 1rem auto;
        border-radius: 50%;
        position: relative;
        border: 2px solid var(--color-dark);
        animation: floatOB 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;

        img {
          max-width: 100%;
          transition: 0.2s ease-in-out;
        }

        .pic-top {
          position: relative;
          top: 0;
          left: 0;
          pointer-events: none;
        }

        .pic-glass {
          position: absolute;
          top: -3px;
          left: 0;
          pointer-events: none;
        }

        .pic-btn {
          position: absolute;
          top: 1px;
          left: 0;
        }
      }

      .pic-btn:hover,
      .pic-btn:active {
        opacity: 0;
      }

      .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0.5rem;
        font-size: 1rem;
        color: var(--color-dark);
        h2 {
          font-family: "Pacifico", cursive;
        }
      }

      .btt {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .link {
          align-items: center;
          width: 8rem;
          overflow: hidden;
          a {
            text-decoration: none;
            border-radius: 2rem;
            border: 1px solid rgb(133, 133, 133);
            border-width: 0.1rem;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            transition: all ease-in 150ms;
          }
        }
        .link:before {
          content: "";
          position: absolute;
          margin: auto;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          // display: none;
        }
      }
    }

    .resumeCard a:hover,
    .resumeCard a:focus {
      background-color: #8f7a6a;
      color: white;
      border-color: transparent;
    }

    .scroll-content {
      position: relative;
      width: 50vw;
      // height: 100vh;
      height: auto;

      max-height: 100%;
      // overflow-y: auto;
    }
    .CV {
      height: 90dvh;
      display: flex;
      align-items: flex-start;
      p {
        text-align: justify;
      }
      .type-text {
        position: relative;
        color: var(--color-main);
        font-size: 3.5rem;
        padding: 0 0.1rem;
        width: max-content;
        text-shadow: 4px 4px var(--color-dark);
        span {
          font-family: "Pacifico", cursive;
        }
      }

      .type-text::before,
      .type-text::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .type-text::before {
        background: #fff;
        animation: typewriter var(--typewriterSpeed)
          steps(var(--typewriterChracters)) 0.5s forwards;
      }

      .type-text::after {
        width: 0.1em;
        background: rgb(133, 133, 133);
        animation: typewriter var(--typewriterSpeed)
            steps(var(--typewriterChracters)) 0.5s forwards,
          blink 750ms steps(17) infinite;
      }

      .subtitle {
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-dark);
      }

      .circle-btn {
        position: relative;
        width: 7rem;
        height: 7rem;
        border-radius: 100vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 1rem;
        // animation: textRotation 10s linear infinite;
        // animation: floatOB 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;

        .text {
          position: absolute;

          color: var(--color-dark);
          font-size: 0.7rem;
          font-weight: 500;
          text-transform: uppercase;
          font-family: "Noto Sans TC", sans-serif;
          letter-spacing: 0.1rem;
          animation: textRotation 10s linear infinite;
          transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

          span {
            position: absolute;

            font-size: 1em;
            color: var(--color-dark);
          }
        }

        .button-circle {
          position: relative;
          width: 2.5rem;
          height: 2.5rem;
          overflow: hidden;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(180deg);
          transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

          svg {
            width: 1rem;

            path {
              stroke: var(--color-dark);
            }
          }

          .button__icon--copy {
            position: absolute;
            transform: translateY(150%);
          }
        }
      }

      .circle-btn:hover {
        .button-circle {
          background: var(--color-main);
        }

        .text {
          font-size: 0.8rem;
          span {
            color: gray;
          }
        }

        // svg path{
        //   stroke:var(--color-light);
        // }

        .button__icon {
          color: var(--color-main);
          // transform: scale(1.5);
        }

        .button__icon:first-child {
          transition: transform 0.3s ease-in-out;
          transform: translateY(-150%);
          // transform: scale(1.5);
        }

        .button__icon--copy {
          transition: transform 0.3s ease-in-out 0.1s;
          transform: translate(0);
        }
      }

      @keyframes textRotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    .scroll-warp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2rem 2rem;
      // margin-top: 5rem;

      .scroll-title {
        // font-family: "Racing Sans One", sans-serif;
        position: relative;
        font-size: 3rem;
        font-weight: 700;
        font-style: italic;
        color: var(--color-main);
        text-shadow: 4px 4px var(--color-dark);
        margin-top: 2rem;
        scroll-margin-top: 10rem;
      }
      .scroll-title::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.8rem;
        background-color: var(--color-main);
        border-radius: 50px;
        bottom: 10%;
        z-index: -1;
      }

      .work-highlight {
        margin: 1rem 0;
        height: 70%;
        // font-size: 1.2rem;
        // color: var(--color-dark);
      }

      .gird-gallery {
        overflow: hidden;
        display: grid;
        grid-template-columns: 4fr 5fr 2fr 0fr 0fr 0fr;
        gap: 0;
        align-items: center;

        width: 100%;
        cursor: e-resize;
        padding: 1rem 0.5rem;
        transition: grid-template-columns 0.5s ease-in-out;

        .gird-content {
          overflow: hidden;
          opacity: 1;
          transition: opacity 0.5s ease-in-out;

          figure {
            width: 100%;
            padding: 0 0.5rem;

            img {
              max-width: 100%;
              aspect-ratio: 4 / 5;
              object-fit: cover;
            }
            figcaption {
              max-width: 10rem;
              margin: 0.25rem 0 0 0;
            }
          }
        }

        .hide {
          opacity: 0;
        }
      }

      .type--C {
        --line_color: var(--color-dark);
        --back_color: #ffbe3b;
      }

      .button {
        position: relative;
        z-index: 0;
        width: 15rem;
        height: 3.5rem;
        text-decoration: none;
        font-size: 1rem;
        // font-weight: bold;
        color: var(--line_color);
        // letter-spacing: 2px;
        transition: all 0.3s ease;
        border: solid 2px var(--line_color);
        border-radius: 50px;

        .button__text {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }

      .button__drow1,
      .button__drow2 {
        position: absolute;
        z-index: -1;
        border-radius: 16px;
        transform-origin: 16px 16px;
      }
      .button__drow1 {
        top: -16px;
        left: 40px;
        width: 32px;
        height: 0;
        transform: rotate(30deg);
      }
      .button__drow2 {
        top: 44px;
        left: 77px;
        width: 32px;
        height: 0;
        transform: rotate(-127deg);
      }
      .button__drow1::before,
      .button__drow1::after,
      .button__drow2::before,
      .button__drow2::after {
        content: "";
        position: absolute;
      }
      .button__drow1::before {
        bottom: 0;
        left: 0;
        width: 0;
        height: 32px;
        border-radius: 16px;
        transform-origin: 16px 16px;
        transform: rotate(-60deg);
      }
      .button__drow1::after {
        top: -10px;
        left: 45px;
        width: 0;
        height: 32px;
        border-radius: 16px;
        transform-origin: 16px 16px;
        transform: rotate(69deg);
      }
      .button__drow2::before {
        bottom: 0;
        left: 0;
        width: 0;
        height: 32px;
        border-radius: 16px;
        transform-origin: 16px 16px;
        transform: rotate(-146deg);
      }
      .button__drow2::after {
        bottom: 26px;
        left: -40px;
        width: 0;
        height: 32px;
        border-radius: 16px;
        transform-origin: 16px 16px;
        transform: rotate(-262deg);
      }
      .button__drow1,
      .button__drow1::before,
      .button__drow1::after,
      .button__drow2,
      .button__drow2::before,
      .button__drow2::after {
        background: var(--back_color);
      }

      .button:hover {
        letter-spacing: 0.2rem;
      }
      .button:hover .button__drow1 {
        animation: drow1 ease-in 0.06s;
        animation-fill-mode: forwards;
      }
      .button:hover .button__drow1::before {
        animation: drow2 linear 0.08s 0.06s;
        animation-fill-mode: forwards;
      }
      .button:hover .button__drow1::after {
        animation: drow3 linear 0.03s 0.14s;
        animation-fill-mode: forwards;
      }
      .button:hover .button__drow2 {
        animation: drow4 linear 0.06s 0.2s;
        animation-fill-mode: forwards;
      }
      .button:hover .button__drow2::before {
        animation: drow3 linear 0.03s 0.26s;
        animation-fill-mode: forwards;
      }
      .button:hover .button__drow2::after {
        animation: drow5 linear 0.06s 0.32s;
        animation-fill-mode: forwards;
      }

      .go-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 10rem;
      }

      .about-content {
        height: 50%;
      }

      .exp-card {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        .exp-title {
          display: flex;
          justify-content: space-between;
          align-items: end;
          margin: 0 0.5rem;
          padding: 0.5rem;
          border-bottom: 1px dashed gray;

          .exp-left {
            position: relative;
            justify-content: center;
            color: var(--color-dark);
            font-weight: 300;

            .exp-time {
              font-size: 2rem;
              font-style: italic;
            }
          }

          .exp-left::after {
            content: "";
            position: absolute;
            width: 0.2rem;
            height: 4.5rem;
            background-color: var(--color-main);
            bottom: -1rem;
            left: -0.5rem;
          }

          .exp-pos {
            font-size: 1.5rem;
            font-weight: 300;
            color: var(--color-dark);
          }
        }

        .exp-content {
          padding: 0.5rem;

          .big-text {
            font-size: 1.2rem;
            // font-weight: 300;
            color: var(--color-dark);
            margin: 0.5rem;
            padding-top: 0.5rem;
          }

          ul {
            padding: 0 1rem;
            color: var(--color-dark);
          }
        }
      }
    }
  }
}

//作品內部

.pro {
  // color:var(--main-color);

  .btn {
    display: flex;
    margin: 1rem 1rem;
    // text-align: center;
    justify-content: center;
    ul {
      flex-wrap: wrap;
      display: flex;
      list-style: none;

      li {
        margin: 1rem 1rem;
        a {
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid rgb(133, 133, 133);
          border-radius: 2rem;
          padding: 0.2rem 1rem;
          text-align: center;
          transition: all ease-in 150ms;
        }
        a:hover,
        a:focus {
          background-color: #8f7a6a;
          color: white;
        }
      }
    }
  }

  .zoom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: rgba(255, 248, 245, 0.874)
      url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;

    border: 2px solid var(--color-main);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.25s ease, opacity 0s linear 0.25s,
      background 0.25s ease;
    opacity: 1;
    transform: scale(0);
    transform-origin: 50% 50%;
    overflow: hidden;
    z-index: 999;
    animation: bg-animation 0.3s infinite;

    &:before {
      content: "";
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      // display: none;
    }

    &.show {
      transform: scale(1);
      opacity: 1;
      transition: transform 0.25s ease, opacity 0s linear;
    }

    &.loading {
      // background: transparent;

      &:before {
        display: block;
        animation: loading 0.8s ease alternate;
      }

      p {
        color: var(--color-dark);
        font-size: 1.5rem;
        // font-weight: 800;
      }
    }
  }

  .sort-title {
    position: relative;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    // text-transform: uppercase;
    letter-spacing: 0.1rem;
    // background-color: var(--color-main);
    // padding: 0 0.5rem;
    // font-family: "Pacifico", cursive;
    font-family: "Noto Sans TC", sans-serif;
    margin: 2rem 1rem;
    color: var(--color-main);
    text-shadow: 4px 4px var(--color-dark);
  }

  .sort-title:first-letter {
    font-size: 4rem;
    // padding-right: -1rem;
    letter-spacing: -0.1rem;
  }
  .sort-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.8rem;
    background-color: var(--color-main);
    border-radius: 50px;
    bottom: 10%;
    z-index: -1;
  }

  //UIUX

  .uiux-card {
    // border: 2px solid blue;\

    .open-modal {
      position: relative;
      display: block;
      font-weight: bold;
      z-index: 1;
    }
    .next {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--base-width);
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  .modal {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: 2;

    &,
    .close-modal {
      top: 5rem;
      color: var(--white);
    }

    .close-modal {
      position: absolute;
      z-index: 5;
      right: 50%;
      // transform: translateX(-50%);
      top: 90%;
      font-size: 2rem;
      background: var(--color-dark);
      border-radius: 50px;
      border: none;
      padding: 0 0.6rem;
    }

    .modal.is-visible {
      visibility: visible;
      opacity: 1;
    }

    .modal-dialog {
      display: flex;
      width: 100%;
      height: 90vh;
      overflow: auto;
    }

    .modal-content {
      display: flex;
      flex-direction: column;

      max-width: 85%;
      padding: 1rem;
      padding-bottom: 2rem;
      margin: auto;
      background-color: #f3ede9;
      transform: scale(0.5); /* 初始縮小 */
    }

    //modal內容物
    .modal-title {
      text-align: center;
      font-size: 1.5rem;
      color: var(--color-dark);
      margin: 1rem;
    }
    .ov {
      font-size: clamp(2.5rem, 2vw, 3.5rem);
      color: var(--color-gray_C);
      text-align: center;
      font-style: italic;
      font-weight: 900;
      letter-spacing: -0.2rem;
    }
    .mod-row {
      display: flex;
      // flex-direction: column;
      // margin: 0.5rem auto;
      justify-content: center;
      align-items: center;

      //overview區

      .ov-content {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        width: clamp(20rem, 25vw, 30rem);

        color: var(--color-dark);

        .ov-title {
          position: relative;
          font-size: 1.2rem;
          // font-weight: 300;
          margin-bottom: 0.5rem;
          p:after {
            // display: flex;
            position: absolute;
            bottom: -0.5rem;
            left: 4rem;
            color: var(--color-gray_C);
            font-size: 2.5rem;
            font-style: italic;
            font-weight: 900;
            letter-spacing: -0.2rem;
            z-index: -1;
          }

          &.is-01 p::after {
            content: "01";
          }
          &.is-02 p::after {
            content: "02";
          }
          &.is-03 p::after {
            content: "03";
          }
        }
      }
      .ov-table {
        flex-direction: column;
        position: relative;
        // background-color: #3f3f3f3c;

        .ov-info-item {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px dashed gray;
          // padding: 1rem;

          .ov-info-label {
            color: var(--color-dark);
            padding: 0.5rem;
            text-transform: uppercase;

            // width: 5rem;
            width: clamp(7rem, 7vw, 10rem);
          }

          .ov-info-content {
            padding: 0.2rem;
            margin-left: 0.2rem;
            width: 19rem;
          }
        }
      }

      .ov-table::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: 12rem;
        top: 0;
        // left: 3.5rem;
        border-right: 1.5px solid var(--color-main);
      }

      .mod-img {
        display: flex;
        // width: 20rem;
        width: clamp(20rem, 25vw, 20rem);
        justify-content: center;
        // margin: 1rem;
        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          padding: 0.5rem;
        }
      }
      .full {
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .mod-area {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        .mix-title {
          position: relative;
          color: var(--color-dark);
          font-size: clamp(1.2rem, 2rem, 3rem);
          font-weight: 600;
          display: flex;
          justify-content: center;
          margin: 1rem 0;
          text-shadow: 2px 2px #f3ede9;

          span {
            position: absolute;
            font-size: clamp(2.5rem, 2.8rem, 3.5rem);
            font-weight: 900;
            font-style: italic;
            letter-spacing: -0.2rem;
            color: var(--color-gray_C);
            z-index: -1;
            bottom: 0.2rem;
            text-shadow: none;
          }
        }

        .modal-description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .context1-2 {
            display: flex;
            max-width: 25rem;
          }
        }

        ul {
          margin: 0.5rem 1rem;
          color: var(--color-dark);
        }
      }
    }
  }

  // 網站區
  .container {
    display: flex;
    margin: 1rem 1rem;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;

    .project-card {
      // border: 2px solid red  ;
      position: relative;
      display: flex;
      width: 25rem;
      flex-direction: column;
      margin: 0.5rem;
      padding: 0.5rem 0;

      .project-img {
        position: relative;
        overflow: hidden;
        width: 100%;
        // height: 15rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

          cursor: pointer;

          &:hover {
            transform: scale(1.5);
            // filter: brightness(1.2);
          }
        }

        .content-overlay {
          position: absolute;

          height: 100%;
          width: 100%;
          opacity: 0;

          // -moz-transition: all 0.4s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;

          &:hover {
            opacity: 1;
          }
        }
      }

      .project-info {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0.5rem 1rem;

        .info-item {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px dashed gray;
          // padding: 1rem;

          .info-label {
            color: var(--color-dark);
            padding: 0.5rem;
            text-transform: uppercase;
            font-size: 1.2rem;
          }

          .info-content {
            padding: 1rem;
            margin-left: 0.5rem;
          }
        }
      }

      .table-line::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 10rem;
        top: 0;
        left: 3.5rem;
        border-right: 1px solid var(--color-main);
      }
    }
  }

  // 圖片區

  .gallery {
    margin: 1rem 1rem;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 80vh;
    grid-gap: 0.15rem;

    .img-container {
      position: relative;
      display: flex;
      overflow: hidden;
      transition: 0.25s ease-in-out;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

        cursor: pointer;

        &:hover {
          transform: scale(1.5);
          filter: brightness(1.2);
          // filter: grayscale(80%);
        }
      }
    }

    &:hover {
      > .img-container:not(:hover) img {
        filter: brightness(0.6);
      }
    }
  }

  .img-modal {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;

    .full-img {
      position: absolute;
      max-width: 100%;
      max-height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%) scale(0.5);
      transition: all 0.3s ease-out;
    }
    .full-img.open {
      transform: translate(-50%, -45%) scale(1);
    }

    P {
      color: white;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.5rem;
      font-weight: 100;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }
  }

  .img-modal.open {
    opacity: 1;
    pointer-events: all;
  }
}

// button style

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 1rem;
  padding: 16px 36px;
  width: 10rem;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: var(--color-main);
  box-shadow: 0 0 0 2px var(--color-main);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  svg {
    position: absolute;
    width: 24px;
    fill: var(--color-main);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .arr-1 {
    right: 16px;
  }

  .arr-2 {
    left: -25%;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--color-main);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .btn-text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: var(--color-dark);
  border-radius: 12px;

  .arr-1 {
    right: -25%;
  }
  .arr-2 {
    left: 16px;
  }

  .btn-text {
    transform: translateX(12px);
  }

  svg {
    fill: var(--color-dark);
  }

  .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #fd8a26;
}

@media screen and (max-width: 790px) {
  .index {
    min-height: 1200px;
    margin-top: -5rem;
    .halfbg {
      background-color: rgba(213, 213, 213, 0.8);
    }

    .container {
      flex-direction: column;
      align-items: center;

      .card-sticky {
        position: static;
        margin: 1rem auto;
        margin-top: 6rem;
        top: auto;
        width: auto;
        .resumeCard {
          justify-content: center;
          width: 17rem;
          height: 24rem;

          .head-pic {
            width: 12rem;
            height: 12rem;
          }
        }
      }

      .scroll-content {
        width: 90vw;
        // margin-top: 2rem;

        .scroll-warp {
          margin: 0 auto;
        }

        .text {
          font-size: 2.5rem;
        }

        .CV {
          height: 40dvh;
          .type-text {
            font-size: 2.5rem;
          }
          .subtitle {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .mod-row {
    flex-direction: column;

    .mod-area {
      .modal-description {
        .context1-2 {
          flex-direction: column;
          // width: 100%;
        }
      }
    }
    .mod-img {
      // flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.blur-it {
  filter: blur(4px);
}

@keyframes bg-animation {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -5%;
  }
  20% {
    background-position: -10% 5%;
  }
  30% {
    background-position: 5% -10%;
  }
  40% {
    background-position: -5% 15%;
  }
  50% {
    background-position: -10% 5%;
  }
  60% {
    background-position: 15% 0;
  }
  70% {
    background-position: 0 10%;
  }
  80% {
    background-position: -15% 0;
  }
  90% {
    background-position: 10% 5%;
  }
  100% {
    background-position: 5% 0;
  }
}

@keyframes loading {
  0% {
    transform: scale(0.1);
    box-shadow: inset 0 0 0 150px var(--color-main);
  }
  50% {
    transform: scale(1);
    box-shadow: inset 0 0 0 140px var(--color-main);
  }
  100% {
    box-shadow: inset 0 0 0 0 var(--color-main);
  }
}

//typewriter effect

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ob-float {
  animation: floatOB 6s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

@keyframes floatOB {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
    transform-origin: 50% 50%;
  }
  75% {
    transform: translateY(-1rem);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}
