@charset "UTF-8";
:root {
  --background: #01053b;
  --card-height: 100%;
  --card-width: 100%;
  --delay: 1s;
  --timing: 2s;
  --card-height: 50rem;
  --card-width: calc(var(--card-height) / 1.5);
}

.bigbg {
  background-color: var(--background);
}

.kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #3b024d;
}
.kv img {
  width: 100%;
}

.psp_area {
  background: url(../images/2023_double11/psp.png) no-repeat bottom/contain;
  position: relative;
  height: 210px;
  width: 100%;
  margin-top: -3rem;
}
.psp_area .rock_content {
  position: absolute;
  transform-origin: center center;
  opacity: 0;
  width: 25%;
  position: absolute;
  backface-visibility: hidden;
  left: 37%;
  bottom: 70%;
}
.psp_area .rock_content img {
  max-width: 100%;
}

.psp_area > div:nth-child(odd) {
  animation: come2life cubic-bezier(0.83, 0, 0.17, 1) 3s infinite;
  animation-delay: 0s;
}

.psp_area > div:nth-child(even) {
  animation: come2life cubic-bezier(0.68, -0.6, 0.32, 1.6) 3s infinite;
  animation-delay: 2s;
}

@keyframes come2life {
  0% {
    transform: translateX(0px) scale3d(0, 0, 1);
    opacity: 0;
    filter: hue-rotate(90deg);
  }
  25% {
    opacity: 0.2;
    filter: blur(2px);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(3em) scale3d(1.5, 1.5, 1.5);
    opacity: 0;
  }
}
.gallery_content {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.gallery_content .gallery_row {
  display: flex;
  flex-direction: row;
}
.gallery_content .gallery_row .item_content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid rgb(39, 255, 251);
}
.gallery_content .gallery_row .item_content .item_pic {
  display: flex;
  transition: all 0.5s;
  background: radial-gradient(circle, rgba(2, 0, 71, 0.8078431373), rgba(0, 0, 0, 0));
  background-blend-mode: multiply;
  margin: 0.5rem;
}
.gallery_content .gallery_row .item_content .item_pic img {
  max-width: 100%;
}
.gallery_content .gallery_row .item_content .wrapper {
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
}
.gallery_content .gallery_row .item_content .wrapper .cover_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery_content .gallery_row .item_content .item_info {
  text-align: center;
}
.gallery_content .gallery_row .item_content .item_info .slogan {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.5rem 0;
}
.gallery_content .gallery_row .item_content .item_info .slogan span {
  font-weight: bold;
  color: rgb(39, 255, 251);
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 1.8rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: 9alc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}
.gallery_content .gallery_row .item_content .item_info .slogan span:nth-child(odd) {
  --glitch-translate: 8px;
}
.gallery_content .gallery_row .item_content .item_info .slogan span:nth-child(even) {
  --glitch-translate: -8px;
}
@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 #ff00f7, 2px -3px 0 #19df6d;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 #ff00f7, -2px 3px 0 #19df6d;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 #ff00f7, 2px -3px 0 #19df6d;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 #ff00f7, -2px 3px 0 #19df6d;
  }
  4%, 100% {
    text-shadow: none;
    transform: none;
  }
}
.gallery_content .gallery_row .item_content .item_info .item_title {
  font-size: 1.2rem;
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.gallery_content .gallery_row .item_content .item_info .price_area {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.gallery_content .gallery_row .item_content .item_info .price_area .del_price {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  text-decoration: line-through;
  color: white;
}
.gallery_content .gallery_row .item_content .item_info .price_area .latest_price {
  padding: 0 0.5rem;
  font-size: 3rem;
  color: #ff00f7;
  text-shadow: 1px 2px black, -2px 0 rgb(39, 255, 251), 1px 0 rgb(39, 255, 251);
}
.gallery_content .gallery_row .item_content .item_info .bn13 {
  display: inline-block;
  padding: 0.2rem 1rem;
  border: 0.1rem solid rgb(39, 255, 251);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  font-size: 1.5rem;
  color: rgb(39, 255, 251);
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite ease-in-out;
  position: relative;
}
.gallery_content .gallery_row .item_content .item_info .bn13:hover {
  color: #214296;
  background: #00ffd8;
  border: 1px solid #00ffd8;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00ffd8, 0 0 20px #00ffd8, 0 0 50px #008cff, 0 0 100px #008cff;
}
@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.7em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.gallery_content .gallery_row .item_content:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.gallery_content .gallery_row .wrapper::before,
.gallery_content .gallery_row .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.gallery_content .gallery_row .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
.gallery_content .gallery_row .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
.gallery_content .gallery_row .item_content:hover .wrapper::before,
.gallery_content .gallery_row .wrapper::after {
  opacity: 1;
}
.gallery_content .gallery_row .item_content:hover .wrapper::after {
  height: 120px;
}
.gallery_content .gallery_row .title {
  width: 80%;
  transition: transform 0.5s;
}
.gallery_content .gallery_row .item_content:hover .title {
  transform: translate3d(0%, -50px, 100px);
}
.gallery_content .gallery_row .character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.gallery_content .gallery_row .item_content:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rescroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider {
  position: relative;
  height: 20rem;
  width: 100%;
  margin: 1rem;
  overflow: hidden;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(1, 5, 59) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 20rem;
  position: absolute;
  width: 2rem;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  width: 7680px;
}
.slider .reslide-track {
  display: flex;
  animation: rescroll 30s linear infinite;
  width: 7680px;
}
.slider .logo_row:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .kv {
    overflow: hidden;
  }
  .kv img {
    width: 130%;
  }
  .kv .psp_area {
    margin-top: -8rem;
    padding: 0 0.5rem;
  }
  .kv .psp_area .rock_content {
    bottom: 35%;
  }
  .gallery_content {
    padding: 0.5rem;
    margin: 1rem 0;
  }
  .gallery_content .gallery_row {
    margin: 0.1rem;
  }
  .gallery_content .gallery_row .item_content {
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .gallery_content .gallery_row .item_content .item_pic {
    margin: 0.1rem;
  }
  .gallery_content .gallery_row .item_content .item_info .slogan {
    margin: 0.1rem 0;
  }
  .gallery_content .gallery_row .item_content .item_info .slogan span {
    font-size: 1.2rem;
  }
  .gallery_content .gallery_row .item_content .item_info .price_area {
    flex-wrap: wrap;
  }
  .gallery_content .gallery_row .item_content .item_info .price_area .del_price {
    margin-bottom: -1rem;
  }
  .gallery_content .gallery_row .item_content .item_info .price_area .latest_price {
    font-size: 2rem;
  }
  .gallery_content .gallery_row .item_content .item_info .bn13 {
    font-size: 1rem;
  }
  .one_row {
    flex-wrap: wrap;
  }
  .slider {
    height: 10rem;
  }
  .slider .slide {
    display: flex;
    width: 15rem;
  }
  .slider .slide img {
    max-width: 100%;
  }
}
.inputStyle {
  width: 20px;
  height: 20px;
}

.gift_content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #3b024d 0%, #01053b 100%);
}
.gift_content .tag_set {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 3rem;
  justify-content: center;
}
.gift_content .tag_set .tag_content {
  margin: 0, 0.5rem;
  transition: 0.2s ease-in;
}
.gift_content .tag_set .tag_content img {
  max-width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}
.gift_content .tag_set .tag_content:hover, .gift_content .tag_set :focus {
  transform: scale(0.9);
}
.gift_content .sign_BG {
  background: -webkit-linear-gradient(-130deg, rgba(159, 244, 255, 0.3), rgba(255, 132, 157, 0.3));
  background-image: linear-gradient(-130deg, rgba(219, 152, 90, 0.615), rgba(238, 107, 133, 0.509)), url("../images/2023_double11/circuit_BG.png");
  border: 0.15rem dashed #6affe9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-size: cover;
  box-shadow: #00ffd8 0px 13px 27px -5px, #008cff 0px 8px 16px -8px;
}
.gift_content .click_area {
  display: flex;
}
.gift_content .click_area .click_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  width: 90vw;
  position: relative;
}
.gift_content .click_area .click_content .bar {
  position: absolute;
  width: 4rem;
  height: 0.3rem;
  background: rgb(39, 255, 251);
  transition: all cubic-bezier(0.36, 0, 0.66, -0.56) var(--timing);
  animation-duration: var(--timing);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.gift_content .click_area .click_content .bar.delay {
  animation-delay: var(--delay);
  -webkit-animation-delay: var(--delay);
}
.gift_content .click_area .click_content .top {
  top: 0rem;
  left: -0.2rem;
}
.gift_content .click_area .click_content .bottom {
  bottom: 0rem;
  left: -0.2rem;
}
.gift_content .click_area .click_content .right {
  top: 1.2rem;
  right: -1.9rem;
  transform: rotate(90deg);
}
.gift_content .click_area .click_content .left {
  top: -0.5rem;
  left: -1.9rem;
  transform: rotate(90deg);
}
@keyframes h-move {
  0% {
    left: -0.2rem;
  }
  100% {
    left: 85vw;
  }
}
.gift_content .click_area .click_content .top,
.gift_content .click_area .click_content .bottom {
  animation-name: h-move;
}
@keyframes v-move {
  0% {
    top: -0.2rem;
  }
  100% {
    top: 90%;
  }
}
.gift_content .click_area .click_content .right,
.gift_content .click_area .click_content .left {
  animation-name: v-move;
}
.gift_content .click_area .click_content .title_content {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  width: min(60%, 20rem);
}
.gift_content .click_area .click_content .title_content img {
  max-width: 100%;
}
.gift_content .click_area .click_content .sign_set {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  margin: 0.5rem;
  overflow: hidden;
}
.gift_content .click_area .click_content .sign_set .sign_content {
  display: flex;
  justify-content: center;
}
.gift_content .click_area .click_content .sign_set img {
  max-width: 100%;
}
.gift_content .click_area .click_content .sign_area {
  display: flex;
  justify-content: center;
}
.gift_content .click_area .click_content .sign_area .sign_slider {
  display: flex;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
  background-color: #000000;
  padding: 1rem;
  margin: 0.5rem;
  border: 0.1rem solid rgb(39, 255, 251);
}
.gift_content .click_area .click_content .sign_area .sign_final {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #ff00f7;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}
.gift_content .click_area .click_content .sign_area .sign_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift_content .click_area .click_content .sign_area .sign_content img {
  max-width: 100%;
}
.gift_content .click_area .click_content .sign_area .sign_content p {
  font-size: 1.2rem;
  color: rgb(39, 255, 251);
}

.btn_content {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.btn_content button {
  padding: 0.5rem 1rem 0.1rem 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff;
  transition: 0.5s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn_content #btn_sign:hover, .btn_content :focus {
  color: #214296;
  background: #00ffd8;
  border: 1px solid #00ffd8;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00ffd8, 0 0 20px #00ffd8, 0 0 50px #008cff, 0 0 100px #008cff;
}
.btn_content #btn_share:hover, .btn_content :focus {
  color: #ab2f61;
  background: #ff5acb;
  border: 1px solid #ff5acb;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ff5acb, 0 0 20px #ff5acb, 0 0 50px #ff096b, 0 0 100px #ff096b;
}

@media (max-width: 640px) {
  .btn_content {
    margin-top: 0.5rem;
  }
  .btn_content button {
    padding: 0.5rem, 0.4rem, 0.2rem, 0.4rem;
    font-size: 1rem;
  }
}
@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.7em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.game_BG {
  margin: 1rem 0;
}

.gameStart {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  background: url(../images/2023_double11/gameB.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  width: min(100%, 1920px);
}
.gameStart p {
  text-align: center;
  color: #00ffd9;
  margin: 0.2rem 0;
  font-size: 2rem;
}
.gameStart .gameTitle {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  width: min(60%, 600px);
}
.gameStart .gameTitle img {
  max-width: 100%;
}
.gameStart .game_area {
  background: url(../images/2023_double11/game.gif);
  background-size: contain;
  background-position: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}
.gameStart .game_area ul {
  width: min(50vw, 1280px);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3%;
}
.gameStart .game_area li {
  height: 0;
  padding-bottom: 90%;
  flex: 0 0 33%;
  position: relative;
  cursor: pointer;
}
.gameStart .game_area li .finger {
  position: absolute;
  top: -5%;
  right: -20%;
  width: 60%;
  height: 0;
  padding-bottom: 90%;
  background: url(../images/2023_double11/stick.gif) no-repeat;
  background-size: cover;
  transition: all 0.15s ease-out 0.15s;
  opacity: 0;
}
.gameStart .game_area li:hover .finger {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 60%;
  height: 0;
  padding-bottom: 90%;
  background: url(../images/2023_double11/stick.gif) no-repeat;
  background-size: cover;
  opacity: 1;
}
.gameStart .game_area li:active .finger {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 60%;
  height: 0;
  padding-bottom: 90%;
  background: url(../images/2023_double11/stick.gif) no-repeat;
  background-size: cover;
  opacity: 1;
}

@media (max-width: 640px) {
  .gameStart p {
    text-align: center;
    font-size: 1.5rem;
  }
}
@keyframes FpsRwd {
  0% {
    background-position: left top;
  }
  100% {
    /*----background-position 的結束位置為 100% + (100 ÷(N - 1))% ----*/
    background-position: 200% top;
  }
}
.gameClose {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  background-size: cover;
  background-position: top center;
  width: min(100%, 1920px);
}
.gameClose img {
  max-width: 100%;
}
.gameClose p {
  text-align: center;
  color: #00ffd9;
  margin-bottom: 910%;
  z-index: 2;
  font-size: 2rem;
}
.gameClose .gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameClose .gameTitle img {
  max-width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

@media (max-width: 640px) {
  .gameTitle img {
    max-width: 80%;
  }
  #abgne_marquee ul li a {
    display: block;
    overflow: hidden;
    /* 超出範圍的部份要隱藏 */
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
  }
}
#abgne_marquee {
  position: relative;
  overflow: hidden;
  /* 超出範圍的部份要隱藏 */
  width: 76%;
  height: 30px;
  margin: 0px auto;
}

#abgne_marquee ul,
#abgne_marquee li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#abgne_marquee ul {
  position: absolute;
  bottom: 9;
}

#abgne_marquee ul li a {
  display: block;
  overflow: hidden;
  /* 超出範圍的部份要隱藏 */
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 640px) {
  .message .led {
    padding-top: 8%;
  }
  #abgne_marquee ul li a {
    display: block;
    overflow: hidden;
    /* 超出範圍的部份要隱藏 */
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 28px;
    color: #fff;
  }
}
.eyecatch {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.alert {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.alert .content {
  max-width: 450px;
  margin: 30px auto 0;
  padding: 12px;
  position: relative;
}
.alert .content .message {
  padding: 12px;
  color: white;
  background-image: url(../images/2023_double11/awardsBG.png);
  border-radius: 10px;
  text-align: center;
  height: auto;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.lightbox .content {
  max-width: 600px;
  margin: 30px auto 0;
  padding: 12px;
}
.lightbox .content .awards {
  width: 100%;
  position: relative;
  background-image: url(../images/2023_double11/awardsBG.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0, 50% 0;
  background-size: 100%, contain;
  padding-top: 16%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}
.lightbox .content .awards .awrds_title {
  color: white;
  margin-bottom: 95rem;
}
.lightbox .content .awards .gift {
  width: 50%;
  background: url(../images/2023_double11/frame.png) no-repeat;
  background-size: contain;
  padding: 4%;
  margin: 0 auto;
}
.lightbox .content .awards .gift img {
  width: 100%;
  height: 100%;
}
.lightbox .content .awards h3 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
  color: white;
}
.lightbox .content .awards h3:before,
.lightbox .content .awards h3:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #01053b;
}
.lightbox .content .awards h3:before {
  left: 0;
}
.lightbox .content .awards h3:after {
  right: 0;
}
.lightbox .content .awards .form {
  text-align: left;
  display: flex;
  margin-bottom: 9px;
}
.lightbox .content .awards .form p {
  display: flex;
  color: white;
  font-size: 14px;
  flex: 0 0 50px;
  align-items: center;
}
.lightbox .content .awards .form .form-style {
  flex: 1;
  padding: 4px;
}
.lightbox .content .win .title {
  background: url(../images/2023_double11/WinTitle.png) no-repeat;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox .content .lose .title {
  background: url(../images/2023_double11/loseTitle.png) no-repeat;
  width: 90%;
  height: 0;
  padding-bottom: 90%;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lightbox .content p {
  color: black;
  font-size: 16px;
}
.lightbox .content p em {
  font-size: 20px;
  line-height: 36px;
}

@media (min-width: 640px) {
  .lightbox .content {
    margin: 50px auto 0;
  }
}
.saleTitle {
  display: flex;
  justify-content: center;
}
.saleTitle img {
  max-width: 100%;
}

.directions {
  background-color: white;
  color: #36395A;
  list-style-position: inside;
  margin: 20px;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.directions h3 {
  color: #fff;
  font-size: 20px;
}
.directions li {
  margin-left: 24px;
  list-style-type: decimal;
}

.shopfloat {
  position: fixed;
  bottom: 9rem;
  right: 15px;
  z-index: 99;
}
.shopfloat .shopbt {
  width: 6.3rem;
  height: 7rem;
  display: block;
  background: url(../images/2023_double11/cart.svg) no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.shopfloat .shopbt:hover {
  transform: scale(1.2);
}
.shopfloat .shop_count {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(39, 255, 251);
  border-radius: 90%;
  justify-content: center;
  align-items: center;
}
.shopfloat .shop_count p {
  color: var(--background);
  font-size: 2rem;
}

@media (max-width: 768px) {
  .shopfloat {
    bottom: 20rem;
  }
  .shopfloat .shopbt {
    width: 3.2rem;
    height: 58px;
    font-size: 12px;
  }
  .shopfloat .shop_count {
    width: 1.5rem;
    height: 1.5rem;
  }
  .shopfloat .shop_count p {
    font-size: 1rem;
  }
}
@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.7em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
.arrIcon {
  background: url(../images/arrIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.arrIcon:hover {
  background: url(../images/arrIcon_o.svg) no-repeat;
}

.closeIcon {
  background: url(../images/closeIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.closeIcon:hover {
  background: url(../images/closeIcon_o.svg) no-repeat;
}

.hamIcon {
  background: url(../images/hamIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.hamIcon:hover {
  background: url(../images/hamIcon_o.svg) no-repeat;
}

.plusIcon {
  background: url(../images/plusIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.plusIcon:hover {
  background: url(../images/plusIcon_o.svg) no-repeat;
}

.minusIcon {
  background: url(../images/minusIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.minusIcon:hover {
  background: url(../images/minusIcon_o.svg) no-repeat;
}

.scale11 {
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.scale11 img {
  width: 100%;
}

.scale169 {
  height: 0;
  padding-bottom: 52.5%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.scale169 img {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsisOne {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.table-bordered {
  border: 1px solid #ddd;
}

.product-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}
.product-table th {
  width: 19%;
  text-align: left;
}
.product-table .graybg {
  background-color: #f6f6f6;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.popup-cbg {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.popup-cbg-L {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.popup-cbg-coupon {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 16px auto;
}

.popup-rbg {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  width: auto;
  min-width: 360px;
}

.popup-title {
  padding: 0 12px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 767px) {
  .popup-rbg {
    width: 100%;
    min-width: 100%;
  }
}
.mfp-close {
  width: 50px;
  height: 50px;
  font-size: 32px;
}

/* lightbox-animate */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

button {
  border: 0;
}

.primary_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fd7b61, #f64b39);
  /*button color*/
  border-bottom: solid 2px #fd7b61;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.primary_btn:active {
  border-bottom: solid 2px #fd7b61;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.second_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fdc861, #f6ba39);
  /*button color*/
  border-bottom: solid 2px #fdc861;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.second_btn:active {
  border-bottom: solid 2px #fdc861;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.lineFBBt {
  height: 40px;
  line-height: 40px;
  background-color: #4267b2;
  border-radius: 5px;
  border: 1px solid #4267b2;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;
}
.lineFBBt span {
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url(../images/fbIcon.svg) no-repeat;
  vertical-align: middle;
  margin-right: 4px;
}
.lineFBBt:hover {
  background-color: #fff;
  border: 1px solid #4267b2;
  color: #4267b2;
}
.lineFBBt:hover span {
  background: url(../images/fbIcon_o.svg) no-repeat;
}

.lineLINEBt {
  height: 40px;
  line-height: 40px;
  background-color: #01b901;
  border-radius: 5px;
  border: 1px solid #01b901;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;
}
.lineLINEBt span {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../images/lineIcon.svg) no-repeat;
  vertical-align: middle;
  margin-right: 4px;
}
.lineLINEBt:hover {
  background-color: #fff;
  border: 1px solid #01b901;
  color: #01b901;
}
.lineLINEBt:hover span {
  background: url(../images/lineIcon_o.svg) no-repeat;
}

.g-main {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 992px) {
  .g-main {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .g-main {
    width: 1170px;
  }
}
.g-main-L {
  width: 100%;
  max-width: 1500px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.g-main-M {
  width: 100%;
  max-width: 600px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.g-21 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 6px;
}

@media (min-width: 450px) {
  .g-21 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 6px;
  }
}
.g-32s1 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 6px;
}

@media (min-width: 321px) {
  .g-32s1 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 6px;
  }
}
@media (min-width: 992px) {
  .g-32s1 {
    flex: 1 0 30%;
    max-width: 100%;
    padding: 6px;
  }
}
.g-321 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .g-321 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 12px;
  }
}
@media (min-width: 992px) {
  .g-321 {
    flex: 1 0 30%;
    max-width: 100%;
    padding: 12px;
  }
}
.g-42 {
  flex: 1 0 50%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .g-42 {
    flex: 1 0 25%;
    max-width: 100%;
    padding: 12px;
  }
}
.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.f-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.f-align-cc {
  justify-content: center;
  align-items: center;
}

.f-jc-spacebetween {
  justify-content: space-between;
}

.f-jc-center {
  justify-content: center;
}

.f-ai-center {
  align-items: center;
}

.g-1 {
  flex: 1;
}

.g-auto {
  flex: 0 0 auto;
}

.g-half {
  flex: 0 0 50%;
}

.g-70 {
  flex: 0 0 70%;
}

.g-100 {
  flex: 0 0 100%;
}

label {
  display: block;
  margin: 10px 0;
  padding: 0 10px 0 0;
  font-weight: normal;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.mgc {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: -0.15px 0.6px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  transition: background-color 0.25s;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc:checked:after {
  content: "";
  display: block;
  height: 4px;
  width: 7px;
  border: 0 solid #333;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 3px;
}

.mgc:disabled {
  opacity: 0.65;
}

.mgc:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 2px #38a7ff;
}

.mgc:checked {
  background-color: #fff;
  border-color: #d7d7d7;
}

.mgc:checked:after {
  border-color: #414141;
}

.mgc-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-primary:checked {
  background-color: #fff;
  border-color: #b82c13;
}

.mgc-primary:checked:after {
  border-color: #b82c13;
}

.mgc-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-success:checked {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.mgc-success:checked:after {
  border-color: #fff;
}

.mgc-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-info:checked {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.mgc-info:checked:after {
  border-color: #fff;
}

.mgc-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-warning:checked {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.mgc-warning:checked:after {
  border-color: #fff;
}

.mgc-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-danger:checked {
  background-color: #cf3b3a;
  border-color: #cf3b3a;
}

.mgc-danger:checked:after {
  border-color: #fff;
}

.mgc-circle {
  border-radius: 50%;
}

.mgc-mg {
  width: 18px;
  height: 18px;
}

.mgc-mg:checked:after {
  top: 3px;
  left: 3px;
  height: 6px;
  width: 12px;
}

.mgc-lg {
  width: 24px;
  height: 24px;
}

.mgc-lg:checked:after {
  top: 4px;
  left: 4px;
  height: 8px;
  width: 16px;
}

.mgr {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: text-bottom;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr:disabled {
  opacity: 0.65;
}

.mgr:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  transition: width 0.25s, height 0.25s;
}

.mgr:checked:before {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

.mgr:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 2px #38a7ff;
}

.mgr:checked {
  border: 1px solid #555;
}

.mgr:checked:before {
  background-color: #555;
}

.mgr-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-primary:checked {
  border: 1px solid #b82c13;
}

.mgr-primary:checked:before {
  background-color: #b82c13;
}

.mgr-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-success:checked {
  border: 1px solid #5cb85c;
}

.mgr-success:checked:before {
  background-color: #5cb85c;
}

.mgr-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-info:checked {
  border: 1px solid #5bc0de;
}

.mgr-info:checked:before {
  background-color: #5bc0de;
}

.mgr-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-warning:checked {
  border: 1px solid #f0ad4e;
}

.mgr-warning:checked:before {
  background-color: #f0ad4e;
}

.mgr-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-danger:checked {
  border: 1px solid #cf3b3a;
}

.mgr-danger:checked:before {
  background-color: #cf3b3a;
}

.mgr-sm {
  width: 20px;
  height: 20px;
}

.mgr-sm:checked:before {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin: 2px 0 0 2px;
}

.mgr-lg {
  width: 24px;
  height: 24px;
}

.mgr-lg:checked:before {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

.mgc-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 41px;
  height: 24px;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #dfdfdf;
}

.mgc-switch:before,
.mgc-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: transform 0.3s;
}

.mgc-switch:before {
  width: 39px;
  height: 22px;
  background-color: #fdfdfd;
}

.mgc-switch:after {
  width: 22px;
  height: 22px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mgc-switch:checked {
  border-color: #04be02;
  background-color: #04be02;
}

.mgc-switch:checked:before {
  transform: scale(0);
}

.mgc-switch:checked:after {
  transform: translateX(17px);
}

.mgc-sm.mgc-switch {
  height: 20px;
  width: 32px;
}

.mgc-sm.mgc-switch:before {
  height: 18px;
  width: 30px;
}

.mgc-sm.mgc-switch:after {
  width: 18px;
  height: 18px;
}

.mgc-sm.mgc-switch:checked:after {
  top: 0;
  left: 2px;
  transform: translateX(10px);
}

.mgc-lg.mgc-switch {
  height: 32px;
  width: 52px;
}

.mgc-lg.mgc-switch:before {
  height: 30px;
  width: 50px;
}

.mgc-lg.mgc-switch:after {
  width: 30px;
  height: 30px;
}

.mgc-lg.mgc-switch:checked:after {
  top: 0;
  left: 2px;
  transform: translateX(18px);
}

.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=email],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style textarea,
.form-style select {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  color: #555;
  border-radius: 4px;
  height: 44px;
}

.form-style textarea {
  min-height: 120px;
}

.form-style input[type=text]:focus,
.form-style input[type=date]:focus,
.form-style input[type=datetime]:focus,
.form-style input[type=email]:focus,
.form-style input[type=number]:focus,
.form-style input[type=search]:focus,
.form-style input[type=time]:focus,
.form-style input[type=url]:focus,
.form-style textarea:focus,
.form-style select:focus {
  box-shadow: 0 0 5px #b82c13;
  border: 1px solid #b82c13;
}

.form-style input[type=submit],
.form-style input[type=button] {
  width: 100%;
}

.form-style .error input[type=text],
.form-style .error input[type=date],
.form-style .error input[type=datetime],
.form-style .error input[type=email],
.form-style .error input[type=number],
.form-style .error input[type=search],
.form-style .error input[type=time],
.form-style .error input[type=url],
.form-style .error textarea,
.form-style .error select {
  box-shadow: 0 0 5px #f54747;
  border: 1px solid #f54747;
}

.form-style .error p {
  color: #f54747;
  font-size: 13px;
}

.form-style .disable input[type=text],
.form-style .disable input[type=date],
.form-style .disable input[type=datetime],
.form-style .disable input[type=email],
.form-style .disable input[type=number],
.form-style .disable input[type=search],
.form-style .disable input[type=time],
.form-style .disable input[type=url],
.form-style .disable textarea,
.form-style .disable select {
  background-color: #eee;
  border: 1px solid #eee;
}

.form-style .icon-down {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/arrdownIcon.svg) no-repeat right 0.5em center;
  background-color: #fff;
  background-size: 16px;
}

select::-ms-expand {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #cf3f9e;
  color: #333;
  font-family: "Helvetica", "Microsoft JhengHei", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

p {
  margin: 0;
}

a {
  color: #333;
  margin: 0px;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #b82c13;
}

a:focus {
  outline: none !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

em {
  font-style: normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

:after,
:before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.circle_box {
  border-radius: 999em;
}

.clear {
  clear: both;
}

.imgrwd {
  width: 100%;
}

.hide {
  display: none;
}

/* ------------------------------------ */
.mt-0 {
  margin-top: 0px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}/*# sourceMappingURL=double11.css.map */