:root {
  --typewriterSpeed: 4s;
  --typewriterChracters: 17;


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Kaisei Decol", serif;
  font-family: "Roboto Mono", monospace;
    

  P {
    text-align: justify;
  }

}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  // background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  transition: all 0.5s ease-out;
}

header {
  background: #ffffff;
  color: #30281d;
  padding: 3em 0;
  // position: relative;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;

  .container {
    width: 95%;
    // max-width: 1000px;
    margin: 0 auto;
    .logo {
      float: left;
      font-size: 1rem;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      span {
        font-weight: 200;
        font-size: 1rem;
      }
    }
    .site-nav {
      position: absolute;
      right: 0;
      // background: rgb(63, 63, 63);
      // height: 0px;
      // overflow: hidden;
  
      ul {
        margin: 0;
        // padding: 0;
        display: flex;
        list-style: none;
  
        li {

          a {
            color: black;
            padding: 1em 2em;
            text-transform: uppercase;
            text-decoration: none;
            transition: all ease-in 150ms;
          }
          a:hover,
          a:focus {
            color: #8f7a6a;
          }
        }
      }
    }




  }
}


header::after {
  content: "";
  clear: both;
  display: block;
}



section {
  animation: transitionIn 0.75s;
}

.bg-active {
  background-color: #f3ede9;
}


// 首頁

.index {
  max-height: 900px;
  // background: black;
  .half-bg {
    position: relative;
    top: -30rem;
    background-color: rgb(213, 213, 213);
    width: 40vw;
    height: 80vh;
    z-index: -10;
    transition: all 0.5s ease-out;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10rem;

    .resumeCard {
      background-color: #f3ede9;
      width: 23rem;
      height: 30em;
      text-align: center;
      align-content: center;
      box-shadow: rgba(0, 0, 0, 0.5) -5px 9px 25px -6px;
      h2 {
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 100;
      }

      .pic {
        overflow: hidden;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        // margin: 2rem 1rem 1rem 1rem;
        margin: 2rem auto;
        border-radius: 50%;

        img {
          border-radius: 50%;
          transition: 0.2s ease-in-out;
        }
      }

      img:hover {
        transform: scale(1.2);
      }
      .btt {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .link {
          align-items: center;
          width: 8rem;
          a {
            text-decoration: none;
            border-radius: 2rem;
            border: 1px solid rgb(133, 133, 133);
            border-width: 0.1rem;
            padding: 0.2rem 1rem;
            text-transform: uppercase;
            transition: all ease-in 150ms;
          }
          .short {
            padding: 0.2rem 1.5rem;
          }
        }
      }
      p {
        margin-top: 0.5rem;
        padding: 1rem 1rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        text-align: center;
      }
    }

    .resumeCard a:hover,
    .resumeCard a:focus {
      background-color: #8f7a6a;
      color: white;
      border-color: transparent;
    }
    .CV {
      margin: 2rem 2rem;
      width: 30rem;
      p {
        text-align: justify;
      }
      .text {
        position: relative;
        color: rgb(133, 133, 133);
        font-size: 3.5rem;
        // font-family: "PT Sans", sans-serif
        width: max-content;
      }

      .text::before,
      .text::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .text::before {
        background: #fff;
        animation: typewriter var(--typewriterSpeed)
          steps(var(--typewriterChracters)) 1s forwards;
      }

      .text::after {
        width: 0.1em;
        background: rgb(133, 133, 133);
        animation: typewriter var(--typewriterSpeed)
            steps(var(--typewriterChracters)) 1s forwards,
          blink 750ms steps(17) infinite;
      }

      .subtitle {
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
      }

      @keyframes typewriter {
        to {
          left: 100%;
        }
      }

      @keyframes blink {
        to {
          background: transparent;
        }
      }

      @keyframes fadeInUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

// 履歷

.resume {
  // background-color: #f3ede9;
  padding-top: 7rem;
  .container {
    // margin-top: 9rem;
    // padding: 1rem;
    // flex-wrap: wrap;
    justify-items: center;
    display: flex;
    flex-direction: column;
    h2 {
      position: absolute;
      left: -1rem;

      font-family: "PT Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      max-width: 100%;
      font-size: 10rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: rgba(255, 255, 255, 0.5);
      z-index: -1;
    }

    .Btitle {
      display: none;
      position: relative;
      padding: 1rem;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
      color: rgb(133, 133, 133);

      h3 {
        font-family: "PT Sans", sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
      }
    }
    .link {
      display: flex;
      justify-content: flex-end;
      width: 80%;
      // margin: 0 auto;
      a {
        text-decoration: none;

        // color: #f3ede9;
        text-align: center;
        border-radius: 2rem;
        border: 1px solid rgb(133, 133, 133);

        padding: 0.2rem 1rem;
        text-transform: uppercase;
        transition: all ease-in 150ms;
      }
      a:hover,
      a:focus {
        background-color: #8f7a6a;
        color: white;
      }
    }

    .skill {
      margin: 0 auto;

      .threecard {
        display: flex;
        margin: 1rem;

        .skillcard {
          background: #ffffff;
          margin: 1rem;
          padding: 1rem 2rem;
          width: 80%;
          // height: 25rem;
          max-width: 100%;

          h4 {
            font-family: "PT Sans", sans-serif;
            color: #81807e;
            text-transform: uppercase;
            text-align: center;
          }

          ul {
            // color: #81807e;
            list-style: square;
            line-height: 1.5rem;
            justify-content: center;
          }
          div {
            font-size: 1rem;
            margin: 1rem;
            // padding-bottom: 1rem;
            text-align: center;
            color: #8f7a6a;
          }
        }
      }
    }

    .exp {
      width: 100%;
      margin: 1rem auto;
      height: 80vh;
      overflow-y: scroll;

      ul {
        margin: 1rem 0;
        // margin-bottom: 10rem;
        padding: 1rem;
        list-style-type: none;
        position: relative;
        transition: all 0.5s linear;
        color: black;

        li {
          margin: 1rem auto;
          position: relative;
          padding: 0.5rem 1rem;
          background: white;
          line-height: 20px;
          width: 50%;
          box-shadow: rgba(0, 0, 0, 0.3) -5px 9px 25px -6px;
        }

        // 時間線線
        li > span {
          content: "";
          display: block;
          height: 100%;
          border: 1px solid #8f7a6a;
          position: absolute;
          top: 0;
          left: -25px;
        }
        // 時間點點
        li > span::before,
        li > span::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #8f7a6a;
          border: 2px solid #f3ede9;
          position: absolute;
          left: -0.4rem;
        }
        li > span::before {
          top: -0.7rem;
        }
        li > span::after {
          top: 100%;
        }
        .title {
          // text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 1.5rem;
          color: rgb(133, 133, 133);
        }

        .name {
          margin-top: 10px;
          text-align: right;
          // margin-right: 20px;
          font-weight: 700;
          color: rgb(133, 133, 133);
        }

        // 時間數字左右
        .time span {
          position: absolute;
          left: -1rem;
          color: #8f7a6a;
          font-size: 80%;
          font-weight: bold;
        }

        // 時間數字上下
        .time span:first-child {
          top: -2rem;
          // bottom: -10rem;
        }
        .time span:last-child {
          top: 105%;
        }
      }
    }
  }
}

// 作品

.projects {
  padding: 1rem 0;
  background-color: rgb(213, 213, 213);

  .area {
    margin: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    // 舊版
    .pro_card {
      padding: 0 1rem;

      .typeCard {
        background-color: whitesmoke;
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;

        h3 {
          text-transform: uppercase;
          font-weight: 200;
          padding: 1rem 1rem;
        }
        h3::after {
          content: "";
          position: relative;
          top: 0.5rem;
          display: block;
          background: #0c0c06;
          height: 3px;
          width: 2rem;
        }
        p {
          padding: 0 1rem;
        }
      }
      .rsPic {
        margin: 0;
        background-color: whitesmoke;
        img {
          max-width: 100%;
          // width: 300px;
          // height: 400px;
        }
      }
    }
  }
}

//作品內部

section.pro {
  .btn {
    display: flex;
    margin: 1rem 1rem;
    // text-align: center;
    justify-content: center;
    ul {
      flex-wrap: wrap;
      display: flex;
      list-style: none;

      li {
        margin: 1rem 1rem;
        a {
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid rgb(133, 133, 133);
          border-radius: 2rem;
          padding: 0.2rem 1rem;
          text-align: center;
          transition: all ease-in 150ms;
        }
        a:hover,
        a:focus {
          background-color: #8f7a6a;
          color: white;
        }
      }
    }
  }

  // 網站區
  .container {
    display: flex;
    margin: 1rem 1rem;
    // flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    .content {
      position: relative;
      margin: 1rem 1rem;
      // width: 90%;
      max-width: 100%;
      .content-overlay {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        height: 99%;
        width: 100%;

        opacity: 0;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
      }
      .content-image {
        max-width: 100%;
      }

      .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out 0s;
        color: white;

        h3 {
          font-family: "Noto Sans TC", sans-serif;
          // font-family: "PT Sans", sans-serif;
          font-weight: 100;
          text-transform: uppercase;
          letter-spacing: 0.15rem;
        }
      }

      .fadeIn-bottom {
        top: 80%;
      }
      .fadeIn-left {
        left: 20%;
      }
    }
    .content:hover .content-overlay {
      opacity: 1;
    }
    .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }
  }

  // 圖片區

  .gallery {
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 80vh;
    grid-gap: 0.5rem;
    .img-container {
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-out;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }

  .modal {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    .full-img {
      position: absolute;
      max-width: 100%;
      max-height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%) scale(0.5);
      transition: all 0.3s ease-out;
    }
    .full-img.open {
      transform: translate(-50%, -45%) scale(1);
    }

    P {
      color: white;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 1.5rem;
      font-weight: 100;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }
  }

  .modal.open {
    opacity: 1;
    pointer-events: all;
  }

}
.scrolltop {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;

  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  i {
    color: rgb(255, 255, 255);
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.scrolltop:hover {
  background: rgba(129, 75, 0, 0.7);
}
.scrolltop:hover i {
  color: #fff;
  top: 5px;
}

footer {
  background-color: white;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .copyright {
    display: flex;
    font-weight: 100;
    font-family: "PT Sans", sans-serif;
    font-size: 0.8rem;
  }
  .contacts {
    display: flex;
    font-size: 0.8rem;
    p {
      font-weight: 100;
    }
  }
}




@media screen and (max-width: 790px) {
  
    .index {
      min-height: 1200px;
      margin-top: -5rem;
      .halfbg {
        background-color: rgba(213, 213, 213, 0.8);
      }
      .CV {
        background: #fff;
        // max-width: 90%;
        padding: 1rem;
        .text {
          display: none;
        }
        .subtitle {
          animation: fadeInUp 2s ease forwards;
        }
      }
    }

    .resume {
      margin-top: 5rem;
      .threecard {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  

  header {
    padding: 1rem;

    .container{

      .logo {
        float: left;
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
      }
  
      .site-nav{
        top: 100%;
        width: 100%;
        text-align: center;
        background-color: #f3ede9;
        transition: all ease-out 0.3s;
        height: 0px;
        overflow: hidden;
        z-index: 99;
  
        ul {
          width: 100%;
          // display: flex;
          // flex-direction: column;
          display: inline-block;
          padding-top: 5rem;
          li {
   
            a{
              width: 100%;
              color: #858585;
   
              display: block;
              text-transform: uppercase;
              transition: all ease-in 150ms;
              font-family: "PT Sans", sans-serif;
              font-size: 1.5rem;
              font-weight: 100;
            }
            
             a:hover,
             a:focus {
              background: #8f7a6a;
              color: white;
            }
  
          }
  
          li:last-child {
            border-bottom: none;
          }
        }
      }
  
      .line::before {
        transform: translateY(-6px);
      }
      .line::after {
        transform: translateY(3px);
      }
  
      .line.trans {
        transform: rotate(45deg);
      }
  
      .line.trans::before {
        opacity: 0;
      }
  
      .line.trans::after {
        transform: translateY(-3px) rotate(-90deg);
      }
  
      .site-nav.open {
        // clip-path: circle(1000% at 90% -10%);
        // -webkit-clip-path: circle(1000% at 90% -10%);
        height: 100vh;
      }
  
      .landing {
        flex-direction: column;
      }
  
      .menu {
        padding: 1em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
  
        .line,
        .line::before,
        .line::after {
          content: "";
          display: block;
          background: #858585;
          height: 3px;
          width: 1.75em;
          border-radius: 3px;
          transition: all ease-in-out 200ms;
        }
      }
    }

  }

  header::after {
    content: "";
    clear: both;
    display: block;
  }

  
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
