* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-family: "Noto Sans TC", sans-serif;
}

* P {
  text-align: justify;
}

header {
  background: #ffffff;
  color: #30281d;
  padding: 3em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

header div.container {
  width: 95%;
  margin: 0 auto;
}

header h1.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

header h1.logo span {
  font-weight: 100;
  font-size: 1rem;
}

header nav.site-nav {
  position: absolute;
  right: 0;
}

header nav.site-nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav.site-nav ul li a {
  color: black;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all ease-in 150ms;
  transition: all ease-in 150ms;
  font-weight: 100;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #8f7a6a;
}

section {
  -webkit-animation: transitionIn 0.75s;
          animation: transitionIn 0.75s;
}

main {
  background-image: url(../images/CDG/CDG_dessert_bg.png);
  background-repeat: repeat-y;
}

main div.copy {
  margin: 1rem;
}

main div.copy p {
  text-align: center;
  color: tan;
}

main section div.container div.headed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section div.container div.headed img {
  z-index: 1;
  max-width: 100%;
}

main section div.container div.headed img.wave {
  position: absolute;
}

main section div.container img.fullImg {
  max-width: 100%;
}

main section div.container div.fruit {
  min-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section div.container div.fruit img {
  max-width: 100%;
}

main section div.container div.fruit div.word {
  max-width: 50%;
}

div.puffs {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.puffs img {
  max-width: 100%;
  padding: 1rem 1rem;
}

.madel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.madel img {
  max-width: 100%;
  padding: 1rem 1rem;
}

.titlepic {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.titlepic img {
  max-width: 100%;
}

.titlepic p {
  margin: auto;
  text-align: justify;
  padding: 1rem;
  max-width: 100%;
}

div.tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  padding: 2rem 2rem;
}

div.tree .push .cube {
  margin: 0 1rem;
}

div.tree .push .cube img {
  max-width: 100%;
}

div.tree .push .cube p {
  margin: 0 1rem;
}

@media screen and (max-width: 790px) {
  main section {
    margin-top: -5rem;
  }
  main section div.halfbg {
    width: 100vw;
  }
  main section .titlepic,
  main section .puffs {
    margin: 0 2rem;
  }
  header {
    padding: 1rem;
  }
  header h1.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
  }
  header nav.site-nav {
    top: 100%;
    width: 100%;
    text-align: center;
    background-color: #f3ede9;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    height: 0px;
    overflow: hidden;
    z-index: 99;
  }
  header nav.site-nav ul {
    width: 100%;
    display: inline-block;
    padding-top: 5rem;
  }
  header nav.site-nav ul li a {
    color: #858585;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all ease-in 150ms;
    transition: all ease-in 150ms;
    font-family: "PT Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  }
  header nav.site-nav.open {
    height: 100vh;
  }
  header .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header div.menu {
    padding: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
  }
  header div.menu .line,
  header div.menu .line::before,
  header div.menu .line::after {
    content: "";
    display: block;
    background: #858585;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
  }
  header::after {
    content: "";
    clear: both;
    display: block;
  }
  .site-nav li:last-child {
    border-bottom: none;
  }
  .site-nav a:hover,
  .site-nav a:focus {
    background: #8f7a6a;
    color: white;
  }
  .line::before {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  .line::after {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .line.trans {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .line.trans::before {
    opacity: 0;
  }
  .line.trans::after {
    -webkit-transform: translateY(-3px) rotate(-90deg);
            transform: translateY(-3px) rotate(-90deg);
  }
}

@media screen and (max-width: 800px) {
  div.tree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.tree .push {
    padding: 1rem 0;
  }
  div.tree .push p {
    margin: auto;
  }
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
/*# sourceMappingURL=style.css.map */