* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-family: "Noto Sans TC", sans-serif;


  P {
      font-family: "Cactus Classical Serif", serif;
       text-align: justify;
       font-size: 1.2rem;
      color: #59505e;
  }
}

// div{
//   border: red 1px solid;
// }




section {
  animation: transitionIn 0.75s;
}

main {
  background-image: url(/projects/images/CDG/CDG_dessert_bg.png);
  background-repeat: repeat-y;
  .copy {
    margin: 1rem;
    p {
      text-align: center;
      color: tan;
    }
  }

  section {
    .container {
     .headed {
       
        display: flex;
        justify-content: center;
        img {
          z-index: 1;
          max-width: 100%;
        }
       .wave {
          position: absolute;
           width: 100vw;
        }
      }

      .fullImg {
        width: 100%;
      }
      .fruit {
        min-width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .fruit-pic {
          display: flex;
          margin: 1rem;
          
         
          img {
            max-width: 100%;
          }
        }


        .word {
          width: 30rem;
          margin: 1rem;
          
        }
      }
    }
  }
}

.re{
  flex-direction: row-reverse;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   margin-bottom: 1rem;
  .product_pic{
    display:flex;
    padding: 0.5rem;
    width: 40rem;
    img {
      max-width: 100%;
    }
  }

  .title_box {
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding:1rem;
  margin-bottom: 1rem;


  .title_pic{
    display: flex;

    img{
      max-width: 100%;
    }
  }
 

}


  }



.tree {
  display: flex;
  justify-content: space-evenly;
   align-items: center;

  .push {
    display: flex;
    justify-content: center;
    align-items: center;
    .cube {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30rem;
      // margin: 0 1rem;
      padding: 1rem 0;
      img {
        max-width: 100%;
      }
      p {
        margin: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .tree {
    flex-direction: column;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    .push {
      padding: 1rem 0;
      max-width: 100%;
  
    }
  }
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
