button {
  border: 0;
}



.primary_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fd7b61, #f64b39);
  /*button color*/
  border-bottom: solid 2px #fd7b61;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.primary_btn:active {
  border-bottom: solid 2px #fd7b61;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.second_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fdc861, #f6ba39);
  /*button color*/
  border-bottom: solid 2px #fdc861;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.second_btn:active {
  border-bottom: solid 2px #fdc861;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

// 分享按鈕
.lineFBBt {
  height: 40px;
  line-height: 40px;
  background-color: #4267b2;
  border-radius: $borderRadius;
  border: 1px solid #4267b2;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;

  span {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../images/fbIcon.svg) no-repeat;
    vertical-align: middle;
    margin-right: 4px;
  }

  &:hover {
    background-color: $white;
    border: 1px solid #4267b2;
    color: #4267b2;

    span {
      background: url(../images/fbIcon_o.svg) no-repeat;
    }
  }
}

.lineLINEBt {
  height: 40px;
  line-height: 40px;
  background-color: #01b901;
  border-radius: $borderRadius;
  border: 1px solid #01b901;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;

  span {
    display: inline-block;
    width: 32px;
    height: 36px;
    background: url(../images/lineIcon.svg) no-repeat;
    vertical-align: middle;
    margin-right: 4px;
  }

  &:hover {
    background-color: $white;
    border: 1px solid #01b901;
    color: #01b901;

    span {
      background: url(../images/lineIcon_o.svg) no-repeat;
    }
  }
}