.mt-0 {
  margin-top: 0px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-28 {
  margin-top: 28px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-28 {
  margin-bottom: 28px !important;
}

.ml-0 {
  margin-left: 0px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.ml-20 {
  margin-left: 20px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-20 {
  margin-right: 20px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.pl-0 {
  padding-left: 0 !important;
}
.pl-8 {
  padding-left: 8px !important;
}
.pl-12 {
  padding-left: 12px !important;
}
.pl-20 {
  padding-left: 20px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-8 {
  padding-top: 8px !important;
}
.pt-12 {
  padding-top: 12px !important;
}

.pt-20 {
  padding-top: 20px !important;
}
.pb-8 {
  padding-bottom: 8px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
