// Color
$primary: #b82c13;
$primary-light: #daf8f5;
$secondary: #ae6032;
$success: #8cc152;
$warning: #f6bb42;
$danger: #da4453;
// Title Color
$titlecolor: #333;
// Text Color
$textcolor: #333;
// Glay tone lever
$deeptone: #333;
$midtone: #666;
$lighttone: #999;
$slighttone: #ddd;
$white: #fff;
$linecolor: #e5e5e5;

// Body Background
$bg-body: #cf3f9e;
$bg-footer: #2a353e;

// Fonts
$fonts: "Helvetica",
"Microsoft JhengHei",
Verdana,
Arial,
sans-serif;
$fontTitle: 24px;
$fontSubTitle: 20px;
$fontBody: 16px;
$fontM: 14px;
$fontS: 12px;

// 全域圓角
$borderRadius: 5px;