body {
  background: #cee2f1;
  color: #412600;
  font-family: "Helvetica", "Microsoft JhengHei", Verdana, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
}

html {
  font-size: 13px;
}

@media (min-width: 640px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
body {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  margin: 0px;
  text-decoration: none;
}

a:focus {
  outline: none !important;
  text-decoration: none;
}

a:active {
  outline: none !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

em {
  font-style: normal;
}

img {
  display: block;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select::-ms-expand {
  display: none;
}

/* ------------------------------------ */
button {
  border: 0;
}

.primary_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fd7b61, #f64b39);
  /*button color*/
  border-bottom: solid 2px #fd7b61;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.primary_btn:active {
  border-bottom: solid 2px #fd7b61;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.second_btn {
  width: 70%;
  font-size: 20px;
  margin: 12px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 0.4em 1em;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(#fdc861, #f6ba39);
  /*button color*/
  border-bottom: solid 2px #fdc861;
  /*daker color*/
  border-radius: 100px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}

.second_btn:active {
  border-bottom: solid 2px #fdc861;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.lineFBBt {
  height: 40px;
  line-height: 40px;
  background-color: #4267b2;
  border-radius: 10px;
  border: 1px solid #4267b2;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;
}
.lineFBBt span {
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url(../images/fbIcon.svg) no-repeat;
  vertical-align: middle;
  margin-right: 4px;
}
.lineFBBt:hover {
  background-color: #fff;
  border: 1px solid #4267b2;
  color: #4267b2;
}
.lineFBBt:hover span {
  background: url(../images/fbIcon_o.svg) no-repeat;
}

.lineLINEBt {
  height: 40px;
  line-height: 40px;
  background-color: #01b901;
  border-radius: 10px;
  border: 1px solid #01b901;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 0 8px;
}
.lineLINEBt span {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../images/lineIcon.svg) no-repeat;
  vertical-align: middle;
  margin-right: 4px;
}
.lineLINEBt:hover {
  background-color: #fff;
  border: 1px solid #01b901;
  color: #01b901;
}
.lineLINEBt:hover span {
  background: url(../images/lineIcon_o.svg) no-repeat;
}

.g-main {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.g-main-L {
  width: 100%;
  max-width: 900px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.g-main-M {
  width: 100%;
  max-width: 600px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.g-21 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 6px;
}

@media (min-width: 450px) {
  .g-21 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 6px;
  }
}
.g-32s1 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 6px;
}

@media (min-width: 321px) {
  .g-32s1 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 6px;
  }
}
@media (min-width: 992px) {
  .g-32s1 {
    flex: 1 0 30%;
    max-width: 100%;
    padding: 6px;
  }
}
.g-321 {
  flex: 1 0 100%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .g-321 {
    flex: 1 0 50%;
    max-width: 100%;
    padding: 12px;
  }
}
@media (min-width: 992px) {
  .g-321 {
    flex: 1 0 30%;
    max-width: 100%;
    padding: 12px;
  }
}
.g-42 {
  flex: 1 0 50%;
  max-width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .g-42 {
    flex: 1 0 25%;
    max-width: 100%;
    padding: 12px;
  }
}
.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.f-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.f-align-cc {
  justify-content: center;
  align-items: center;
}

.f-jc-spacebetween {
  justify-content: space-between;
}

.f-jc-center {
  justify-content: center;
}

.f-ai-center {
  align-items: center;
}

.g-1 {
  flex: 1;
}

.g-auto {
  flex: 0 0 auto;
}

.g-half {
  flex: 0 0 50%;
}

.g-70 {
  flex: 0 0 70%;
}

.g-100 {
  flex: 0 0 100%;
}

label {
  display: block;
  margin: 10px 0;
  padding: 0 10px 0 0;
  font-weight: normal;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.mgc {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: -0.15px 0.6px 0 0;
  vertical-align: text-bottom;
  border-radius: 3px;
  transition: background-color 0.25s;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc:checked:after {
  content: "";
  display: block;
  height: 4px;
  width: 7px;
  border: 0 solid #333;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 3px;
}

.mgc:disabled {
  opacity: 0.65;
}

.mgc:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 2px #38a7ff;
}

.mgc:checked {
  background-color: #fff;
  border-color: #d7d7d7;
}

.mgc:checked:after {
  border-color: #414141;
}

.mgc-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-primary:checked {
  background-color: #fff;
  border-color: #0f2228;
}

.mgc-primary:checked:after {
  border-color: #0f2228;
}

.mgc-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-success:checked {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.mgc-success:checked:after {
  border-color: #fff;
}

.mgc-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-info:checked {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.mgc-info:checked:after {
  border-color: #fff;
}

.mgc-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-warning:checked {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.mgc-warning:checked:after {
  border-color: #fff;
}

.mgc-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgc-danger:checked {
  background-color: #cf3b3a;
  border-color: #cf3b3a;
}

.mgc-danger:checked:after {
  border-color: #fff;
}

.mgc-circle {
  border-radius: 50%;
}

.mgc-mg {
  width: 18px;
  height: 18px;
}

.mgc-mg:checked:after {
  top: 3px;
  left: 3px;
  height: 6px;
  width: 12px;
}

.mgc-lg {
  width: 24px;
  height: 24px;
}

.mgc-lg:checked:after {
  top: 4px;
  left: 4px;
  height: 8px;
  width: 16px;
}

.mgr {
  position: relative;
  width: 16px;
  height: 16px;
  background-clip: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: text-bottom;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr:disabled {
  opacity: 0.65;
}

.mgr:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  transition: width 0.25s, height 0.25s;
}

.mgr:checked:before {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

.mgr:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 2px #38a7ff;
}

.mgr:checked {
  border: 1px solid #555;
}

.mgr:checked:before {
  background-color: #555;
}

.mgr-primary {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-primary:checked {
  border: 1px solid #0f2228;
}

.mgr-primary:checked:before {
  background-color: #0f2228;
}

.mgr-success {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-success:checked {
  border: 1px solid #5cb85c;
}

.mgr-success:checked:before {
  background-color: #5cb85c;
}

.mgr-info {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-info:checked {
  border: 1px solid #5bc0de;
}

.mgr-info:checked:before {
  background-color: #5bc0de;
}

.mgr-warning {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-warning:checked {
  border: 1px solid #f0ad4e;
}

.mgr-warning:checked:before {
  background-color: #f0ad4e;
}

.mgr-danger {
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

.mgr-danger:checked {
  border: 1px solid #cf3b3a;
}

.mgr-danger:checked:before {
  background-color: #cf3b3a;
}

.mgr-sm {
  width: 20px;
  height: 20px;
}

.mgr-sm:checked:before {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin: 2px 0 0 2px;
}

.mgr-lg {
  width: 24px;
  height: 24px;
}

.mgr-lg:checked:before {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 3px 0 0 3px;
}

.mgc-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 41px;
  height: 24px;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #dfdfdf;
}

.mgc-switch:before,
.mgc-switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: transform 0.3s;
}

.mgc-switch:before {
  width: 39px;
  height: 22px;
  background-color: #fdfdfd;
}

.mgc-switch:after {
  width: 22px;
  height: 22px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mgc-switch:checked {
  border-color: #04be02;
  background-color: #04be02;
}

.mgc-switch:checked:before {
  transform: scale(0);
}

.mgc-switch:checked:after {
  transform: translateX(17px);
}

.mgc-sm.mgc-switch {
  height: 20px;
  width: 32px;
}

.mgc-sm.mgc-switch:before {
  height: 18px;
  width: 30px;
}

.mgc-sm.mgc-switch:after {
  width: 18px;
  height: 18px;
}

.mgc-sm.mgc-switch:checked:after {
  top: 0;
  left: 2px;
  transform: translateX(10px);
}

.mgc-lg.mgc-switch {
  height: 32px;
  width: 52px;
}

.mgc-lg.mgc-switch:before {
  height: 30px;
  width: 50px;
}

.mgc-lg.mgc-switch:after {
  width: 30px;
  height: 30px;
}

.mgc-lg.mgc-switch:checked:after {
  top: 0;
  left: 2px;
  transform: translateX(18px);
}

.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=email],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style textarea,
.form-style select {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  color: #555;
  border-radius: 4px;
  height: 44px;
}

.form-style textarea {
  min-height: 120px;
}

.form-style input[type=text]:focus,
.form-style input[type=date]:focus,
.form-style input[type=datetime]:focus,
.form-style input[type=email]:focus,
.form-style input[type=number]:focus,
.form-style input[type=search]:focus,
.form-style input[type=time]:focus,
.form-style input[type=url]:focus,
.form-style textarea:focus,
.form-style select:focus {
  box-shadow: 0 0 5px #0f2228;
  border: 1px solid #0f2228;
}

.form-style input[type=submit],
.form-style input[type=button] {
  width: 100%;
}

.form-style .error input[type=text],
.form-style .error input[type=date],
.form-style .error input[type=datetime],
.form-style .error input[type=email],
.form-style .error input[type=number],
.form-style .error input[type=search],
.form-style .error input[type=time],
.form-style .error input[type=url],
.form-style .error textarea,
.form-style .error select {
  box-shadow: 0 0 5px #f54747;
  border: 1px solid #f54747;
}

.form-style .error p {
  color: #f54747;
  font-size: 13px;
}

.form-style .disable input[type=text],
.form-style .disable input[type=date],
.form-style .disable input[type=datetime],
.form-style .disable input[type=email],
.form-style .disable input[type=number],
.form-style .disable input[type=search],
.form-style .disable input[type=time],
.form-style .disable input[type=url],
.form-style .disable textarea,
.form-style .disable select {
  background-color: #eee;
  border: 1px solid #eee;
}

.form-style .icon-down {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../images/arrdownIcon.svg) no-repeat right 0.5em center;
  background-color: #fff;
  background-size: 16px;
}

select::-ms-expand {
  display: none;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}

.row {
  margin-right: -12px;
  margin-left: -12px;
}

.imgrwd {
  max-width: 100%;
  display: block;
}

.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  clear: both;
}

.kv img {
  width: 100%;
  display: block;
}

.titleone {
  color: #333;
  border-bottom: 2px solid #333;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.titlepic {
  margin: 0 auto;
  padding: 68px 0 32px;
}
.titlepic img {
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .titlepic {
    margin: 0 auto;
    padding: 40px 0 20px;
  }
}
.s1 {
  width: 100%;
  height: 0;
  padding-bottom: 52.2%;
  position: relative;
  background-image: url(../images/s1_bg1.png), url(../images/s1_bg2.png), linear-gradient(to right, rgb(240, 230, 224), rgb(255, 250, 248));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, right, left;
  background-size: contain, contain, auto;
}
.s1 .article {
  width: 60%;
  max-width: 600px;
  padding: 0 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}
@media (max-width: 640px) {
  .s1 .article {
    width: 230px;
    padding: 0 0;
    transform: translate(-30%, -50%);
  }
}

.s2 {
  display: block;
}
.s2 .picsize {
  width: 90%;
  margin: auto;
  padding: 24px 0;
}
.s2 .title {
  margin: 40px auto 20px;
  text-align: center;
  font-size: 1.75rem;
}
.s2 .title span {
  background: #0f2228;
  padding: 4px;
  color: #fff;
}

.s3 {
  background: #fef1e9;
}
.s3 .know {
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  margin: 30px 0 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.s3 .know .ex {
  color: #f06030;
}
.s3 .know .icon {
  flex: 0 0 100px;
}
.s3 .know .word {
  flex: 1;
  font-size: 18px;
  padding-left: 8px;
}
@media (max-width: 768px) {
  .s3 .know .icon {
    flex: 0 0 60px;
  }
  .s3 .know .word {
    font-size: 13px;
  }
}

.s4 {
  background: #fef1e9;
}

.arrIcon {
  background: url(../images/arrIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.arrIcon:hover {
  background: url(../images/arrIcon_o.svg) no-repeat;
}

.closeIcon {
  background: url(../images/closeIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.closeIcon:hover {
  background: url(../images/closeIcon_o.svg) no-repeat;
}

.hamIcon {
  background: url(../images/hamIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.hamIcon:hover {
  background: url(../images/hamIcon_o.svg) no-repeat;
}

.plusIcon {
  background: url(../images/plusIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.plusIcon:hover {
  background: url(../images/plusIcon_o.svg) no-repeat;
}

.minusIcon {
  background: url(../images/minusIcon.svg) no-repeat;
  background-size: cover;
  display: inline-block;
}
.minusIcon:hover {
  background: url(../images/minusIcon_o.svg) no-repeat;
}

.img-rwd {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.scale11 {
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.scale11 img {
  width: 100%;
}

.scale169 {
  height: 0;
  padding-bottom: 52.5%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.scale169 img {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsisOne {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.table-bordered {
  border: 1px solid #ddd;
}

.product-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}
.product-table th {
  width: 19%;
  text-align: left;
}
.product-table .graybg {
  background-color: #f6f6f6;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.popup-cbg {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.popup-cbg-L {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.popup-cbg-coupon {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 16px auto;
}

.popup-rbg {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  width: auto;
  min-width: 360px;
}

.popup-title {
  padding: 0 12px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 767px) {
  .popup-rbg {
    width: 100%;
    min-width: 100%;
  }
}
.mfp-close {
  width: 50px;
  height: 50px;
  font-size: 32px;
}

/* lightbox-animate */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f5f6f0;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
}
p span {
  color: #ec2798;
  font-weight: 600;
}

.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__next > label:nth-child(1), .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5) {
  opacity: 1 !important;
  z-index: 3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  margin: 1rem auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.carousel > input[type=radio]:checked ~ .carousel__prev > label,
.carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 30rem;
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel__item img {
  width: 100%;
  vertical-align: middle;
}
.carousel__prev > label, .carousel__next > label {
  border: 1px solid #ec2798;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: 0.5 !important;
}
.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel__prev > label:before, .carousel__next > label:before {
  background: linear-gradient(to top, #ec2798 0%, #ec2798 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #ec2798 0%, #ec2798 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel__prev > label {
  left: 1%;
}
.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel__next > label {
  right: 1%;
}
.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel__nav {
  position: absolute;
  bottom: 1%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.carousel__nav > label {
  border: 1px solid #ec2798;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 1rem;
  height: 1rem;
}

.full_pic img {
  width: 100%;
}

.phone_mode {
  display: none;
}

.grid {
  background: url("../images/tea_BG_01.jpg");
}

.re {
  flex-direction: row-reverse;
}

.top_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top_area img {
  max-width: 100%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}
.description .card {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 1rem auto;
  padding: 0 1rem;
  align-items: center;
}
.description .card img {
  max-width: 85%;
}
.description .card .tea_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}
.description .card .tea_icon img {
  padding: 0 0.5rem;
  max-width: 85%;
}
.description .card_pic {
  display: flex;
  justify-content: center;
}
.description .card_pic img {
  max-width: 85%;
}
.description .slider_img img {
  max-width: 100%;
}

.only_pic {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.only_pic .title {
  width: 30rem;
  padding: 1rem;
}
.only_pic .web_mode {
  max-width: 80%;
}

.tea_block {
  display: none;
}

.tea_block.active {
  display: flex;
}

.btn_area {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #436d51;
  border-radius: 30px;
  box-shadow: #436d51 4px 4px 0 0;
  color: #436d51;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.2rem 0.2rem;
  transition: all 0.2s;
}

.button-74:hover {
  background-color: #fff;
  box-shadow: 0.4rem 0.4rem 0 #436d51;
  transform: translate(-0.4rem, -0.4rem);
}

.button-74:active,
.button-74.active {
  background-color: #ec2798;
  box-shadow: #436d51 2px 2px 0 0;
  border: 2px solid #fbeee0;
  color: #fbeee0;
  transform: translate(2px, 2px);
}

.shopfloat {
  position: fixed;
  top: 35rem;
  right: -1rem;
  z-index: 99;
}
.shopfloat .shopbt {
  width: 5rem;
  height: 5rem;
  padding: 4px;
  margin-bottom: 8px;
  display: block;
  background: #436d51;
  font-size: 0.9rem;
  text-align: left;
  text-decoration: none;
  color: #fff;
  border-radius: 6px 0 0 6px;
  box-shadow: 0px 0px 5px #666;
  transition: all 0.3s ease-in-out;
}
.shopfloat .shopbt:hover {
  transform: translateX(-1rem);
  background-color: #ec2798;
}
.shopfloat .shopbt:active {
  color: #ec2798;
}
.shopfloat .shopbt .onlineIcon {
  width: 75%;
  margin: 4px auto;
  height: 0;
  padding-bottom: 55%;
  background: url(../images/cart.svg) no-repeat;
  background-size: contain;
}
.shopfloat .shopbt .bagIcon {
  width: 54%;
  margin: 4px auto;
  height: 0;
  padding-bottom: 54%;
  background: url(../images/shopping-bag.svg) no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {
  .description {
    flex-wrap: wrap;
  }
  .container {
    width: 25rem;
  }
  .container .carousel__items {
    height: 16rem;
  }
  .title {
    max-width: 80%;
  }
  .web_mode {
    display: none;
  }
  .phone_mode {
    display: flex;
    max-width: 110%;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}/*# sourceMappingURL=colego.css.map */