:root {
    --typewriterSpeed: 4s;
    --typewriterChracters: 17;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  
    P {
      text-align: justify;
    }
  }
  
  html {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    position: relative;
    // background-color: black;
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  header {
    display: flex;
    position: sticky; 
    align-items: center;
    top: 0;
    color: #30281d;
    flex-wrap: wrap; 
    z-index: 2;
    margin-top: -8rem; 
  
    .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      .logo{
        img{
          max-width: 60%; 
        }

      }
  
    .site-nav ,.sns{
      position: absolute;
      right: 0;
      // background: rgb(63, 63, 63);
      // height: 0px;
      overflow: hidden;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
  
        li {
          a {
            color: rgb(0, 0, 0);
            padding: 1em 2em;
            text-decoration: none;
            transition: all ease-in 150ms;
          }
        }
      }
    }
    .sns{
      display: flex;
      justify-content: flex-end;
    }

  }
    

  }
  header::after {
    content: "";
    clear: both;
    display: block;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    color: #8f7a6a;
  }
  
  section {
    animation: transitionIn 0.75s;
  }
  
  // .bg-active {
  //   background-color: #f3ede9;
  // }

  footer {
    background-color: black;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .copyright {
      display: flex;
      font-weight: 100;
      font-family: "PT Sans", sans-serif;
      font-size: 0.8rem;
    }
    .contacts {
      display: flex;
      font-size: 0.8rem;
      p {
        font-weight: 100;
      }
    }
  }







@media screen and (max-width: 790px) {
    
  
    header {
      padding: 1rem;

     
      .site-nav {
        position: fixed;
        top: 100%;
        width: 100%;
        text-align: center;
        background-color: #f3ede9;
        // clip-path: circle(100% at 90% -10%);
        // -webkit-clip-path: circle(100% at 90% -10%);
        transition: all ease-out 0.3s;
        height: 0px;
        overflow: hidden;
        z-index: 99;
  
        ul {
          width: 100%;
          display: inline-block;
          padding-top: 20rem;
          li {
            background-color: yellow;
            a {
              // width: 100%;
              color: red;
              display: block;
              text-transform: uppercase;
              transition: all ease-in 150ms;
              font-family: "PT Sans", sans-serif;
              font-size: 1.5rem;
              font-weight: 100;
            }
          }
        }
      
    }
  
      nav.site-nav.open {
        // clip-path: circle(1000% at 90% -10%);
        // -webkit-clip-path: circle(1000% at 90% -10%);
        height: 100vh;
      }
  
      .landing {
        flex-direction: column;
      }
  
      div.menu {
        padding: 1em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
  
        .line,
        .line::before,
        .line::after {
          content: "";
          display: block;
          background: #858585;
          height: 3px;
          width: 1.75em;
          border-radius: 3px;
          transition: all ease-in-out 200ms;
        }
      }
    }
  
    header::after {
      content: "";
      clear: both;
      display: block;
    }
  
    .site-nav li:last-child {
      border-bottom: none;
    }
  
    .site-nav a:hover,
    .site-nav a:focus {
      background: #8f7a6a;
  
      color: white;
    }
  
    .line::before {
      transform: translateY(-6px);
    }
    .line::after {
      transform: translateY(3px);
    }
  
    .line.trans {
      transform: rotate(45deg);
    }
  
    .line.trans::before {
      opacity: 0;
    }
  
    .line.trans::after {
      transform: translateY(-3px) rotate(-90deg);
    }
  }
  
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
  
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }


  